* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.hidden {
  display: none;
}

.hamburger,
.hamburger-about {
  color: #333;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* div */

.prefer-menu {
  width: 100%;
  height: 100vh;
  padding: 150px 80px;
  position: fixed;
  background-color: #fe432d;
  backdrop-filter: blur(4px);
}

.prefer-menu .exit-btn {
  position: absolute;
  top: 2%;
  right: 4%;
  color: #fff;
}

.prefer-menu .menu-prefer {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.prefer-menu .menu-prefer .link {
  display: flex;
  justify-content: center;
  color: #e9ecef;
  font-size: 26px;
  text-decoration: none;
  border: #fff solid 2px;
  padding: 10px;
}

.prefer-menu .menu-prefer .link:hover {
  border: #fff solid 2px;
  padding: 12px;
  transform: scale(1.3);
  transition-duration: 0.1s;
}

.main .nav {
  display: none;
}

.head {
  display: flex;
  flex-direction: column;
  gap: 43px;
  padding: 32px;
  background-image: linear-gradient(45deg, white, rgba(228, 226, 226, 0.65)), url(/images/bg-main.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.head-top,
.head-main {
  color: #ec5242;
}

.head-top {
  padding-top: 30px;
  font-size: 22px;
}

.head-main {
  font-size: 38px;
  font-weight: 700;
  line-height: 40px;
}

.head-p {
  background-color: #f5f6f7;
  border: 1px solid #fff;
  font-size: 18px;
  padding: 16px;
}

.head-data {
  font-size: 32px;
}

.head-place {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  padding-bottom: 28px;
}

.program {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #fff;
  background-color: #333;
  padding: 26px;
  padding-top: 30px;
  background-image: linear-gradient(45deg, #0e0a0a, rgba(26, 21, 21, 0.842)), url(/images/bg-partner.jpg);
  background-repeat: repeat;
  background-size: cover;
}

.program-title {
  font-size: 28px;
  text-align: center;
}

.program .red-line {
  background-color: #ec5242;
  width: 100px;
  height: 0.2rem;
  padding-top: 0;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card {
  display: flex;
  align-items: center;
  gap: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 26px;
}

.lecture {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #ec5242;
}

.lecture-icon {
  width: 60px;
}

.lecture h2 {
  color: #ec5242;
  font-size: 14px;
  font-weight: 500;
}

.card-p {
  font-size: 14px;
}

.card-btn-desk {
  display: none;
}

.card-btn-mob {
  background-color: #ec5242;
  font-size: 22px;
  text-align: center;
  padding: 12px 24px;
  margin: 20px auto;
}

.speakers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ece7e7;
  padding: 20px;
}

.speakers-title {
  display: flex;
  justify-content: center;
}

.speakers .red-line {
  background-color: #ec5242;
  width: 100px;
  height: 0.2rem;
  margin: 0 auto;
}

/* js */

/* end js */

.more,
.less {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding: 20px;
  width: 100%;
}

.more .down-arrow,
.less .down-arrow {
  width: 30px;
  height: 20px;
  color: #ec5242;
}

.partner,
.company {
  display: none;
}

/* about */
.about .nav {
  display: none;
}

.head-about {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  padding-bottom: 30px;
  background-image: linear-gradient(2deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.726)), url(/images/bg-main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: #ec5242;
}

.about-top {
  font-size: 20px;
  padding-top: 50px;
  text-transform: uppercase;
}

.about-title {
  font-size: 34px;
  padding-top: 25px;
}

.about-info {
  background-color: #fff;
  border: 1px solid #e4f1f1;
  font-size: 20px;
  color: #333;
  padding: 20px;
}

.about-contact {
  font-size: 16px;
  color: #333;
}

.about-email {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 22px;
  font-weight: 600;
  text-decoration-color: #ec5242;
  text-underline-position: under;
}

.about-marathon {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  padding: 30px;
}

.about-marathon-title {
  font-size: 28px;
}

.about-marathon-info {
  font-size: 20px;
}

.about-marathon-img {
  height: 50%;

  /* height: 20rem; */
}

.about-summits {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  padding: 20px;
  padding-bottom: 30px;
  background-color: #e4f1f1;
}

.about-summits .about-summit-title {
  font-size: 28px;
}

.about-summits .about-summit-info {
  font-size: 16px;
}

.about-summits .about-summit-info-img1,
.about-summits .about-summit-info-img2 {
  background-size: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  color: #fff;
}

.about-summits .about-summit-info-img1 {
  margin-bottom: 4rem;
  background-image: linear-gradient(45deg, rgba(235, 59, 59, 0.5), rgba(251, 78, 78, 0.5)), url(/images/about1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-summits .about-summit-info-img2 {
  background-image: linear-gradient(45deg, rgba(235, 59, 59, 0.5), rgba(251, 78, 78, 0.5)), url(/images/about3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* end about */

/* partner */
.partner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.partner .partner-title {
  font-size: 22px;
}

.partner .partners-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  list-style: none;
}

.partner .partners-list .column {
  float: left;
}

.end {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 12px;
  padding: 14px 14px;
}

.end .logo {
  width: 130px;
}

@media only screen and (min-width: 768px) {
  .hamburger,
  .hamburger-about {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }

  .nav-top-list {
    display: flex;
    gap: 40px;
    padding: 6px;
    padding-right: 200px;
    font-size: 16px;
    justify-content: flex-end;
    background-color: #333;
  }

  .nav-top-list a {
    color: #fff;
    text-decoration: none;
  }

  .nav-top-list li {
    list-style: none;
  }

  .nav-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 10px;
    padding-right: 180px;
  }

  .nav-bottom .logo {
    padding: 0;
  }

  .nav-bottom-list {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    font-size: 22px;
    padding: 14px;
    cursor: auto;
  }

  .nav-bottom-list .link {
    text-decoration: none;
    color: #333;
  }

  .nav-bottom-list .link:hover {
    color: #fe432d;
  }

  .nav-bottom-list .nav-list-button {
    border: #fe432d solid 5px;
    padding: 18px;
  }

  .main .nav {
    display: flex;
  }

  .about .nav {
    display: flex;
  }

  .head {
    background-size: 100%;
    padding-left: 180px;
  }

  .head-top {
    font-size: 32px;
  }

  .head-main {
    font-size: 54px;
  }

  .head-p {
    font-size: 20px;
    width: 70%;
  }

  .head-data {
    font-size: 40px;
  }

  .head-place {
    font-size: 24px;
  }

  .program {
    padding: 60px;
  }

  .cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding: 30px;
  }

  .cards .card {
    display: flex;
    flex-direction: column;
    padding: 24px;
  }

  .cards .card .lecture {
    display: flex;
    flex-direction: column;
  }

  .cards .card .card-p {
    font-size: 18px;
    text-align: center;
  }

  .speakers .speakers-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
  }

  /* speakers */

  .speakers .speakers-card .speaker {
    width: 40%;
    margin-right: 4.8rem;
    margin-bottom: 4.8rem;
  }

  .speakers .speakers-card .speaker-img {
    height: 14.2rem;
    width: 14.2rem;
    box-shadow: -0.5rem -0.5rem #fe432d;
  }

  .speakers .speakers-card .speaker .speaker-text .speaker-job,
  .speakers .speakers-card .speaker .speaker-text .speaker-info {
    font-size: 1.6rem;
  }

  .speakers .more {
    display: none;
  }

  .partner {
    padding: 4.8rem 7.4rem;
  }

  .partner .partners-list .column {
    width: 100%;
  }

  .end {
    display: flex;
    justify-content: space-around;
    padding: 20px 340px;
    font-size: 14px;
  }

  .end .logo {
    width: 60px;
  }

  .head-about {
    background-image: linear-gradient(45deg, white, rgba(228, 226, 226, 0.42)), url(/images/bg-main.jpg);
    background-size: 100%;
    padding: 80px 100px;
    display: flex;
    gap: 50px;
    text-align: center;
    align-items: center;
  }

  .about-top {
    display: none;
  }

  .head-about .line {
    display: flex;
    background-color: #ec5242;
    height: 4px;
    width: 100px;
    margin: 0 auto;
    margin-top: -20px;
  }

  .head-about .about-p {
    width: 70%;
    font-size: 24px;
    color: #333;
    background-color: #e9ecef;
  }

  .head-about .about-contact {
    margin-bottom: -20px;
    font-size: 18px;
    color: #333;
  }

  .about-marathon {
    display: flex;
    align-items: center;
    padding: 60px;
  }

  .about-marathon .about-marathon-info {
    font-size: 20px;
  }

  .about-marathon-img {
    padding: 60px;
    width: 70%;
    height: 650px;
  }

  .about-summits .about-summit-images {
    display: flex;
    flex-direction: row;
    gap: 90px;
    justify-content: center;
  }

  .about-summits .about-summit-images .about-summit-info-img1 {
    width: 30%;
    font-size: 30px;
  }

  .about-summits .about-summit-images .about-summit-info-img2 {
    width: 30%;
    font-size: 30px;
  }
}
